html, body{
    height: 100%;
    background: #617e5e; 
    color: #fff;
 }
  
#map{
   width: 90vw; 
   height: 80vh; 
   margin: auto; 
}

body h2{
   border-bottom: 5px solid #7f6b5e;
   margin: 20px auto 10px auto;
   width: 90vw;
   text-align: center
 }

 
 a.btn-1 {
   color: #fff;
   background-color: #7ea894;
   border: 2px solid #7ea894;
   display: inline-block;
   padding: 10px;
   font-size: 16px;
   font-weight: bold;
   border-radius:5px;
   text-decoration: none;
   display:block;
   width:90vw;
   margin:10px auto;
   text-align: center
 }
 
 a.btn-1:hover {
   background-color: #fff;
   border-color: #7ea894;
   color: #7ea894;
 }