body{
	display: flex;
	flex-direction: column;
	background-color: #005792;
}
.header{
	text-align: left;
	color: #f6f6e9;
	background: #f6f6e9;
	border-top: solid 10px #13334c;
}
.header h1{ 
	font-size: 36px;
	padding-top: 10px;
	margin-left:  20px;
}
.header nav{
	padding: 10px;
	background-color: #f6f6e9;
	text-decoration: underline;
	text-align: right;
}
.glovalNavigation{
	margin: 20px; 
}

main{
	display: flex;
	min-height: 95vh;
	margin-bottom: -50px;
}
.content{
	flex: 1;
	margin-right: 10px;
	background-size: 95%;
	background-repeat: no-repeat;
	text-align: center;
}
.localNavigation{
	text-align: center;
	width: 250px;
	background-color: #005792;
}

.footer nav{
	background-color: #f6f6e9;
	text-decoration: underline;
	text-align: right;
	padding: 50px 10px 10px 10px;
}
h1{
	font-size: 36px;
	color:  #13334c
}
h2{
	font-size: 24px;
	color: #fff;
	padding: 10px 0;
	margin: 10px 0;
	margin-top: -10px;
}
ul{
	margin: 10px 10px 10px 0;
}
ul li{
	display: inline;
	border-right: solid 1px #13334c;
	font-size:  16px;
	padding-left: 5px; 
        padding-right: 5px;
        margin-top: 0px;  
        margin-bottom: 0px;
}
ul li:first-child{
	border-left: solid 1px #13334c
}

ol{
	font-size: 18px;
	counter-reset: number;
	list-style-type: none!important;
	padding: 0.3em 0.8em;
	border: solid 2px #f6f6e9;
}
ol li{
	border-bottom: dashed 1px #f6f6e9;
	position: relative;
	padding: 0.5em 0.5em 0.5em 30px;
	line-height: 1.5em;
}
ol li:before{
	position: absolute;
	counter-increment: number;
	content: counter(number);
	display: inline-block;
	background: #fd5f00;
	color: #f6f6e9;
	font-family: 'Avenir','Arial Black','Arial',sans-serif;
	font-weight: bold;
	font-size: 15px;
	border-radius: 50%;
	left: 0;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
ol li:last-of-type{
	border-bottom: none; 
}

li a.btn {
  color: #f6f6e9;
  background-color: #fd5f00;
  border: 2px solid #fd5f00;

}

a.btn:hover {
  background-color: #f6f6e9;
  border-color:#fd5f00;
  color: #fd5f00;
}
h3{
color: #f6f6e9;
}

























































